@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292524;
  --foreground: #ffedd4;
}

html {
  box-sizing: border-box;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     --background: #ffedd4; */
/*     --foreground: #292524; */
/*   } */
/* } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}
